Repository princemuel/metadata, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Update, Documentation, Content"

[ImgBot] Optimize images
  app/assets/images/humanstxt-isolated-blank.gif
  app/assets/images/humanstxt-transparent-1ink.png
  app/content/projects/unocalc/unocalc_01.png
  app/content/projects/unocalc/unocalc_02.png
Labels: Update

feat: commit with current state
  .editorconfig
  .git-blame-ignore-revs
  .gitattributes
  .gitignore
  .prettierrc.json
  .vscode/settings.json
  README.md
  journal/2024/11/19/ill-never-let-you-go.md
  journal/2024/12/01/sunday-going-to- worship.md
Labels: root, Update, Documentation

feat: commit with current state
  testing/2024/11/19/ill-never-let-you-go.md
  testing/2024/12/01/sunday-going-to- worship.md
Labels: Update

feat: commit with current state
  testing/ill-never-let-you-go.md
  testing/sunday-going-to- worship.md
Labels: Update

feat: test the remote loader
  testing/just-testing.md
Labels: Update

feat: test the remote loader
  testing/just-testing.md
Labels: Update

feat: test the remote loader
  testing/sample-markdown.md
Labels: Update

feat: test the remote loader
  testing/sample-markdown.md
Labels: Update

ci: setup markdown/mDX linting and formatting
  .nvmrc
  .prettierrc.json
  .remarkrc.yml
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Labels: root, Update

chore: rename testing folder to journal
  journal/ill-never-let-you-go.md
  journal/just-testing.md
  journal/sample-markdown.md
  journal/sunday-going-to-worship.md
  testing/ill-never-let-you-go.md
Labels: Update

feat: add content schema entries
  .vscode/settings.json
  schemas/authors.schema.json
  schemas/categories.schema.json
  schemas/changelog.schema.json
  schemas/collections.json
  schemas/journal.schema.json
  schemas/posts.schema.json
  schemas/projects.schema.json
  schemas/publications.schema.json
  schemas/routes.schema.json
  schemas/socials.schema.json
Labels: Update

feat: add update md test files w/ correct frontmatter
  journal/ill-never-let-you-go.md
  journal/just-testing.md
  journal/sample-markdown.md
  journal/sunday-going-to-worship.md
Labels: Update

feat: add md templates for easy setup
  templates/changelog.md
  templates/journal.md
  templates/post.md
  templates/project.md
Labels: Update

ci: setup frontmatter schemas for each dir
  .remarkrc.yml
Labels: root, Update

ci: setup frontmatter schemas for each dir
  package.json
  pnpm-lock.yaml
Labels: root, Update

feat: add image for testing purposes
  assets/blog-placeholder-1.jpg
  journal/sample-markdown.md
  schemas/collections.json
Labels: Update

feat: just testing
  journal/sample-markdown.md
Labels: Update

feat: add image for testing purposes
  journal/sample-markdown.md
Labels: Update

feat: rename file ext to mdx
  journal/sample-markdown.mdx
Labels: Update

feat: update file
  journal/sample-markdown.mdx
Labels: Update

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

Update:
  - changed-files:
      - any-glob-to-any-file: "**"

Documentation:
  - changed-files:
      - any-glob-to-any-file: "README.md"

Content":
  - changed-files:
      - any-glob-to-any-file: "**/content/*"

feature:
  - head-branch: ["^staging", "staging"]

release:
  - base-branch: "main"
